*, *::before, *::after {
    box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  background-color:#2C2C2EFF;
}

.menu {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 100px;
}

.title {
    color: aliceblue;
    text-transform: uppercase;
    text-align: center;
    margin: 35px auto;
    width: 400px;
    border: 5px solid beige;
    padding: 15px;
}

.subtitle {
    margin: 30px;
    color: aliceblue;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.images {
    margin: 40px;
    text-align: center;
}

.images img {
    width: 240px;
    height: 240px;
    border: 2px dashed rgb(223, 255, 83);
}

.pares_img, .adobo_img {
    padding: 0 15px 0 0px;
    
}

.content ul {
    list-style: none;

}

.content li, a{
    color: aliceblue;
    text-decoration: none;
    text-transform: uppercase;
    font-style: italic;
    font-weight: bold;
    display: inline-block;
}

.pares_li {
    padding-left: 370px;
}

.adobo_li {
    padding-left: 105px;
    padding-right: 40px;
}


