*, *::before, *::after {
    box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  background-color:#2C2C2EFF;
}

.menu {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 100px;
}

.title {
    color: aliceblue;
    text-transform: uppercase;
    text-align: center;
    margin: 35px auto;
    width: 400px;
    border: 5px solid beige;
    padding: 15px;
}

.subtitle {
    margin: 30px;
    color: aliceblue;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.images {
    margin: 40px;
    text-align: center;
}

.images img {
    width: 240px;
    height: 240px;
    border: 2px dashed rgb(223, 255, 83);
}

.pares_img, .adobo_img {
    padding: 0 15px 0 0px;
    
}

.content, .content_li {
    list-style: none;

}

.content, .pares_li, .adobo_li, .pancit_li, a{
    color: aliceblue;
    text-decoration: none;
    text-transform: uppercase;
    font-style: italic;
    font-weight: bold;
    display: inline-block;
}

.pares_li {
    padding-left: 370px;
}

.adobo_li {
    padding-left: 105px;
    padding-right: 40px;
}

/* Menu pages style */
.header, .back_nav, .back_btn, .top_btn {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-style: normal;
    margin: 8px;
    
}

.back_btn, .back_nav, .top_btn {
    background-color: rgb(142, 248, 142);
    color: #000;
}

.food-details {
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
}

.food_title{
    text-align: center;
    text-transform: uppercase;
}

.food_img {
    display: block;
    margin: auto;
    margin-top: 20px;
    width: 300px;
    height: 240px;
}

.food_desc, h2 {
    text-align: center;
    margin-bottom: 20px;
    
}

h2, h3, h4 {
 text-decoration: underline;
}

.food_desc {
    margin: 20px 100px;
    text-align: justify;
}

.food_ingr {
    text-align: center;
}

.food_ingrList {
    margin-top: 40px;
    list-style: none;
    text-align: center;
}

.food_ingrList li {
    margin-bottom: 3px;
}


.food_steps {
    margin-top: 40px;
    text-align: center;
}

.food_stepsList {
    margin: 20px 100px;
    text-align: justify;
}

.footer_left {
    margin-top: 15px;
    display: inline-block;
}

.footer_right {
    margin-top: 15px;
    float: right;
}